<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="json-logging">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                    <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>
                    <timestampFormat>yyyy-MM-dd HH:mm:ss.SSS</timestampFormat>
                    <appendLineSeparator>true</appendLineSeparator>
                </layout>
            </encoder>
        </appender>
    </springProfile>
    <springProfile name="!json-logging">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>
